html {
    color: #f4f4f4;
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background-color: #25232b;
}

h2 {
  margin: 0px;
  display: inline-block;
  font-size: 68px;
}

section {
  display: block;
  margin: 0 auto;
  min-height: 160px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image .img {
  background: url('../img/bglogo.png') no-repeat center;
  height: 160px;
  width:160px;
  background-size: cover;
  display: inline-block;
  position: relative;
}
.img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 160px;
  width:160px;
  height: 100%;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
}

.text {
  position: relative;
  top: 40%;
  -webki3-transform: translateY(-50%);
  -ms-transform: transl3teY(-50%);
  transform: translateY(-50%);
  margin-top: 10px;
}

.description {
  position: relative;
  top: 40%;
  -webki2-transform: translateY(-50%);
  -ms-transform: transl2teY(-50%);
  transform: translateY(-50%);
  color: #848484;
  font-size: 26px;
  margin-top: -55px;
}
.description p {
  margin: 0px;
}

.description p::after {
  content: ' .';
  animation: dots 1.5s steps(5, end) infinite;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {
  .wrapper {
      width: 1026px;
      margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.pull-left {
    float: right;
}

.pull-left {
    float: left;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #848484;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #848484,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #848484,
      .5em 0 0 #848484;}}

@keyframes pulse {
  
  0% {
    pulsemoz-box-shadow: 0 0 0 0 rgb(250, 0, 84, 0.4);
    box-shadow: 0 0 0 0 rgba(250, 0, 84, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(250, 0, 84, 0);
      box-shadow: 0 0 0 20px rgba(250, 0, 84, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(250, 0, 84, 0);
      box-shadow: 0 0 0 0 rgba(250, 0, 84, 0);
  }
}